{% extends 'base.html.twig' %}

{% block title %}
Lists
{% endblock %}

{% block body %}
<h1>Lists</h1>

<div class="card-lists">
    <div class="card-list">
        <p>
            <span>{{ list.name }}</span>
        </p>
        <div class="img-list">
            <img width="300px" src="{{ asset('uploads/pics/' ~ list.imageName) }}" />
        </div>
        {{ include('tasks/_form.html.twig') }}

        <div class="container text-center">
            <div class="row justify-content-between">
                <div class="col-6 col-sm-4">
                    {% for task in list.tasks %}
                    <div class="btn">
                        <p>{{ task.content }}</p>

                        <a class="btn btn-success" href="{{ path('app_tasks_edit', { id: task.id }) }}">edit</a>
                        {{ include('tasks/_delete_form.html.twig') }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="btn">
            <a class="btn btn-primary" href="{{ path('app_lists_index') }}">back to list</a>
        </div>
    </div>
</div>
{% endblock %}